www/node_modules
www/public/assets
www/.pnp
www/.pnp.js
www/coverage
www/npm-debug.log*
www/yarn-debug.log*
www/yarn-error.log*
www/.cache
www/.config
www/.yarn
www/.npm

.env
www/var
www/vendor

.DS_Store
.idea
.vscode
/docker-compose.override.yml
.docker/acme.json
